.home-page{
  align-items: center;
  display:flex;
  flex-direction: column;
  color:rgba(255, 255, 255, 0.993);
}
.home-page button {
  background-color: #00000098;
  color: rgb(255, 255, 255);
  padding: 12px 25px;
  font-size: 30px;
  border: 5px;
  border-radius: 50px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  .home-page h1{
   background-color: #00000098;
   margin-bottom: 50px;
   border-radius: 50px;
   font-size: 50px;
   padding: 12px 20px;
  }
  .quiz-container{
    flex-direction: column;
    justify-items: center;
    justify-content: center;
  }
  .quiz-container h2{
  background-color: #00000098;
   margin-bottom: 50px;
   border-radius: 50px;
   font-size: 50px;
   padding: 12px 20px;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;

  }
  .options-container {
    display: grid; /* Använd grid för att skapa två kolumner */
    grid-template-columns: repeat(2, 1fr); /* Två lika breda kolumner */
    gap: 15px; /* Avstånd mellan alternativen */
    width: 100%;
    max-width: 600px; /* Begränsa bredden på behållaren */
    margin: 20px auto; /* Centrera alternativen */
  }
  button{
  background-color: #00000098; /* Grön bakgrund */
  color: rgb(255, 255, 255);
  font-size: 30px;
  border: 5px;
  border-radius: 50px; /* Rundade hörn */
  cursor: pointer;
  margin-top: 50px;
  padding: 12px;
  align-items: center;
  display: flex;
  }
.quiz-container button{
  display: flex;
}
.option {
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  color: white;
}
.option.selected{
  background-color: #30303098;
}
.question-tracker{
  margin-top: 20px;
  font-size: 20px;
}
.quiz-result button {
  background-color: #00000098;
  color: rgb(255, 255, 255);
  padding: 12px 25px;
  font-size: 30px;
  border: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quiz-result h2 {
  background-color: #00000098;
   margin-bottom: 50px;
   border-radius: 50px;
   font-size: 50px;
   padding: 12px 20px;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.quiz-result{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px;
  font-size: 50px;
}
.quiz-result p{
  color: white;
  border: 2px;
  background-color: #00000098;
  border-radius: 50px;
  padding: 12px 20px;
}
.timer{
  color: white;
  background-color: #00000098;;
  border-radius: 50px;
  padding: 12px 20px;
}
.option.correct {
  background-color: #28a74698; 
  color: white;
}

.option.wrong {
  background-color: #dc3546a1; 
  color: white;
}
@media (max-width:  768px) {
  h2 {
    font-size: 20px; 
    padding: 8px 15px;
    line-height: 1.3; 
  }

  .option {
    font-size: 1rem; 
    padding: 10px; 
  }

  .timer {
    font-size: 1rem; 
    margin-top: 5px;
  }

  button {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}

