body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/background.jpg');
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size: cover; 
  font-family: "Montserrat", serif;
  font-style: normal;
  overflow: auto; 
}

.top-image {
  width: 500px;
  height: auto; 
  margin-top: 0;
}
@media (max-width: 600px) {
  .top-image {
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
  }
}
